# Your application Client ID from the Spotify Developer Dashboard
SPOTANTIC_AUTH_CLIENT_ID=...
# Your application Client Secret from the Spotify Developer Dashboard
SPOTANTIC_AUTH_CLIENT_SECRET=...
# Remote or third-party redirect endpoints are not supported
SPOTANTIC_AUTH_REDIRECT_URI=http://127.0.0.1:8000/callback
# Space-separated list of scopes to be granted
SPOTANTIC_AUTH_SCOPE="playlist-modify-private playlist-modify-public playlist-read-private ugc-image-upload user-follow-modify user-follow-read user-library-modify user-library-read user-modify-playback-state user-read-currently-playing user-read-email user-read-playback-position user-read-playback-state user-read-private user-read-recently-played user-top-read"
# File path where the access token information should be stored
SPOTANTIC_AUTH_ACCESS_TOKEN_FILE_PATH=.token_info_cache
# If `true`, Spotantic will save access token information every time the token is obtained.
# The token is stored in the filepath indicated by SPOTANTIC_AUTH_ACCESS_TOKEN_FILE_PATH
# IMPORTANT: IT IS RECOMMENDED TO KEEP THIS AS FALSE TO PREVENT THE SERVER FROM STORING TOKEN INFORMATION
SPOTANTIC_AUTH_STORE_ACCESS_TOKEN=false

# Controls package-level logging; if `false`, logging is completely disabled
SPOTANTIC_LOGGING_ENABLE=false
# Controls logging level; if `true`, logging includes debug messages
SPOTANTIC_LOGGING_DEBUG=true
# Directory to store session logs; if not provided, logs are only written to STDOUT
SPOTANTIC_LOGGING_LOGS_DIR=logs/

# Specifies which auth method is used by Spotify client on the server side
# Possible values: auth_code_pkce ,auth_code, client_credentials
SPOTANTIC_MCP_AUTH_METHOD=auth_code_pkce

# Spotify API refresh token obtained from scripts/authorize.py
SPOTANTIC_MCP_REFRESH_TOKEN=...
